modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0", "revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 5000

[[ports]]
localPort = 24101
externalPort = 3000

[[ports]]
localPort = 24102
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_TNUtLybjDrsBWRTsDXJYAQCFFNH"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_vVNFCzMLSqoxOssZJjvBhGvFzok"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_GkBzkEPbBxUVQWNApOgFlFBDbrA"
REVENUECAT_PROJECT_ID = "projd4e3fed3"
REVENUECAT_TEST_STORE_APP_ID = "app706c0e135b"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app3b3a91784d"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app809cf5a6c5"
PROCESS_DECISIONS_SECRET = "0qUR+8EkI+r&BUA3SbrLWkJ@zQz^2LMWR#bOZt8J5KvK&Mg!"
COOKIE_SECRET = "5d7e98b44d99a24f52f983fb903e1d915a95c4df067fc8fb5b15d2ba391345d9"
